{% for post in site.posts %}
<!-- <li class="blogPost"> -->
  <div class="grid-container">

    <div class="grid-item post-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
    <!-- {% if post.category=='audio' and post.media_file %}
      <a id="{{ post.title }} media" onclick="playSomeAudio('{{ post.title }}')">{{ post.media_file }}</a>
    {% endif %} -->
    <div class="grid-item post-excerpt">{{ post.excerpt }}</div>
    <div class="grid-item post-date">{{ post.date | date_to_string }}</div>
    <div class="grid-item post-content">{{ post.content }}</div>
  </div>
  
      
  
  <!-- <button onclick="playSomeAudio('{{ post.title }}')">hear it</button> -->
  <!-- <div>
      <audio controls style="width:50%">
    <source src="{{ post.media_file }}">
  Your browser does not support the audio element.
  </audio>
  </div> -->
<!-- </li> -->
{% endfor %}